body::before {
  display: block;
  content: "";
  height: 60px;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background-main-2.jpg");
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.glow {
  transition: 0.7s;
  margin-top: 6px;
  border-radius: 1.5px;
}

@media only screen and (max-width: 991px) {
  .glow:hover {
    background-color: #0d6efd;
    padding: 8px;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.3s;
  }
}
